overly_ambitious_isqo
tester
tester.dSYM
valgrind-*
.DS_Store
output/*
hs*.out
*.o
*.dSYM
test_sparse
isqo
test_ampl_interface
test_display_all
test_jacobian_mult
html
latex

*~

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/config.h
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# more autoconf
Makefile
config.log
config.status

# 
.deps/