isqo_functor
isqo_functor.dSYM
tester
tester.dSYM
valgrind-*
.DS_Store
output/*
hs*.out
*.o
*.dSYM
test_sparse
isqo
test_ampl_interface
test_display_all
test_jacobian_mult
isqo-dense
isqo-sparse
html
latex


# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing